.Form{
    height: 550px;
}
.title{
    font-weight: bold;
    margin-top: 80px;
}
.CodeConfirmation{
    margin-top: 10px;
    
}
.CodeConfirmationInput{
    margin: 3px;
    height:45px;
    width: 65px;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    font-family: arimo;
    font-size: 1.1rem;
}
.btn{
    width:455px !important;
    margin-top: 30px;
    font-weight: bold !important;
}

.Image{
height: 400px;
background-image: url(../images/Enter\ OTP-cuate.png);
background-size:100% 100%;
}
.linkBack{
    color: #947054 !important;
    font-size: large;
    margin-left: 200px;
}